.contact {
  @at-root #{&}__head {
    margin-bottom: 80px;
    text-align: center;

    @at-root #{&}--font {
      font-family: 'Montserrat', sans-serif;
    }

    @at-root #{&}--title {
      font-weight: 900;
      font-size: 40px;
      position: relative;
      display: inline-block;
      z-index: 4;

      &:after {
        content: '';
        width: 100%;
        height: 30px;
        background-image: image('dots.png', $base-url);
        background-repeat: repeat;
        position: absolute;
        bottom: -10px;
        left: 0;
        z-index: -1;
      }
    }
  }

  @at-root #{&}__item {
    margin-bottom: 30px;

    @at-root #{&}--icon {
      display: inline-block;
      font-size: 25px;
      margin-bottom: 15px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      background: #f4f4f4;
      border-radius: 50%;
      -webkit-transition: all .5s;
      transition: all .5s;

      &:hover {
        background: #1c1c1c;
        color: #eee;
      }
    }

    @at-root #{&}--title {
      font-weight: 700;
      margin-bottom: 10px;
    }

    @at-root #{&}--font {
      font-family: 'Montserrat', sans-serif;
    }


    @at-root #{&}--description {
      line-height: 1.6;
      margin: 0;
      font-size: 15px;
      color: #748182;
    }

  }

  @at-root #{&}__form {
    @at-root #{&}--input {
      width: 100%;
      border: 0;
      border-radius: 5px;
      padding: 10px;
      background: #f4f4f4;
    }

    @at-root #{&}--textarea {
      height: 160px;
      max-height: 160px;
      max-width: 100%;
    }

    @at-root #{&}--button {
      padding: 10px 40px;
      border: 1px solid #1c1c1c;
      border-radius: 5px;
      font-size: 13px;
      -webkit-transition: all .5s;
      transition: all .5s;
    }

    @at-root #{&}--button-bg {
      background: #1c1c1c;
      color: #eee;

      &:hover {
        background: transparent;
        color: #343434;
      }

    }
  }
}
