.header {
  height: 100vh;
  background-size: cover;
  position: relative;
  overflow: hidden;

  .v-middle {
    z-index: 11;
  }

  @at-root #{&}__caption {
    text-align: center;
    color: #fff;
    margin-top: 50px;
    width: 100%;

    @at-root #{&}--title {
      font-size: 50px;
      font-weight: 800;
      margin-bottom: 10px;
    }

    @at-root #{&}--font {
      font-family: "Montserrat", sans-serif;
    }

  }

  .cd-headline {
    font-size: 3rem;
    line-height: 1.2;

    &.clip {
      b {
        opacity: 0;
        &.is-visible {
          opacity: 1;
        }
      }

      span {
        display: inline-block;
        padding: .2em 0;
      }

      .cd-words-wrapper {
        overflow: hidden;
        vertical-align: top;
        &:after {
          content: '';
          position: absolute;
          top: 10%;
          right: 0;
          width: 2px;
          height: 70%;
          background-color: #f8f9fa;
        }
      }
    }

    @include tablet-only {
      font-size: 2.8rem;
      font-weight: 300;
    }

    @include desktop-only {
      font-size: 3.8rem;
      font-weight: 200;
    }
  }

  .social-icon {
    margin-top: 30px;
    @at-root #{&}--rounded {
      font-size: 14px;
      width: 35px;
      height: 35px;
      line-height: 35px;
      border-radius: 50%;
      background: rgba(0,0,0,.3);
      display: inline-block;
    }
  }

}

.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    &.is-visible {
      position: relative;
    }
  }
}

html .cd-words-wrapper b {
  opacity: 0;
}

html .cd-words-wrapper b.is-visible {
  opacity: 1;
}
